html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

header{
	background-image: url("../img/vector-beetle.svg"), url("../img/vector-beetle.svg"), url("../img/subtle_white_mini_waves.png");
	background-size: 30px auto, 30px auto, 75px auto;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: center center, left top, left top;
	overflow: hidden;
}

ol{
	padding: 0;
}

li{
	list-style: none;
	float: left;
	display: block;
	width: 25%;
	text-align: center;
	background-color: #512200;
	opacity: 0.6;
	color: white;
	padding: 0.5em;
	font-size: 1.1em;
}

h1{
	margin: 0;
	text-align: center;
}

h2{
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent), url("../img/dirt.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
	padding: 3.25em 1em 0.75em 1em;
	margin: 0;
	text-align: center;
	clear: both;
	font-weight: normal;
}

h3{
	margin: 0;
}

.float-left{
	width: 50%;
	float: left;
	position: relative;
}

.float-right{
	width: 50%;
	float: right;
	position: relative;
}

.btn{
	display: inline-block;
	padding: 0.2em 0.75em 0.4em 0.75em;
	text-decoration: none;
	background-color: #a8ae98;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 1.0);
	color: white;
	text-align: center;
	font-weight: normal;
	position: absolute;
	width: 30%;
}

.btn-1{
top: 10%;
}

.btn-2{

}

.btn-3{


}

.btn-4{

}
