html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

header{
	background-image: url("../img/vector-beetle.svg"), url("../img/vector-beetle.svg"), url("../img/subtle_white_mini_waves.png");
	background-size: 30px auto, 30px auto, 75px auto;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: center center, left top, left top;
}

li{
	list-style: none;
	float: left;

}

h1{
	margin: 0;
	text-align: center;
}

.float-left{
	width: 50%;
	float: left;
}

.float-right{
	width: 50%;
	float: right;
}
